<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    <bean id="..." class="...">-->
    <!-- collaborators and configuration for this bean go here -->
    <!--    </bean>-->

    <bean id="mysqlImpl" class="pojo.dao.UserDaoMysqlImpl"></bean>
    <bean id="oracleImpl" class="pojo.dao.UserDaoOracleImpl"></bean>

    <bean id="UserServiceImpl" class="pojo.service.UserServiceImpl">
<!--        ref : 引用spring容器中創建好的物件
            velue : 具體的值.基本數據類型
-->
        <property name="userDao" ref="oracleImpl"/>



    </bean>




    <!-- more bean definitions go here -->

</beans>